
# Basic --------------------

CONFIG_MODULES=y
CONFIG_HAVE_DOT_CONFIG=y
CONFIG_HOST_OS_LINUX=y
CONFIG_KERNEL_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_SOFT_FLOAT=y

# Type --------------------

CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y

# IPV6 --------------------

CONFIG_IPV6=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd-ipv6only=y

# WOLFSSL --------------------

CONFIG_PACKAGE_libustream-wolfssl=y
CONFIG_PACKAGE_wpad-basic-wolfssl=y
CONFIG_PACKAGE_libwolfssl=y
CONFIG_WPA_WOLFSSL=y

CONFIG_PACKAGE_wpad=y
CONFIG_PACKAGE_wpa-supplicant=m
CONFIG_PACKAGE_wpa-supplicant-basic=m
CONFIG_PACKAGE_wpa-supplicant-mesh-wolfssl=m
CONFIG_PACKAGE_wpa-supplicant-mini=m
CONFIG_PACKAGE_wpa-supplicant-wolfssl=m
CONFIG_PACKAGE_wpad-basic=m
CONFIG_PACKAGE_wpad-basic-wolfssl=m
CONFIG_PACKAGE_wpad-mesh-wolfssl=m

# Application --------------------

CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_dns2socks=y
CONFIG_PACKAGE_dns2tcp=y

CONFIG_OPENSSL_ENGINE=y
CONFIG_PACKAGE_libopenssl=y

CONFIG_PACKAGE_libcurl=y
CONFIG_LIBCURL_NOSSL=y
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_nlbwmon=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_libwebsockets-openssl=n
CONFIG_PACKAGE_libmbedtls=n
CONFIG_PACKAGE_libwebsockets-mbedtls=n
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_uclient-fetch=y
CONFIG_PACKAGE_opkg=y

CONFIG_PACKAGE_libsodium=y
CONFIG_LIBSODIUM_MINIMAL=y

# Theme --------------------

CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-material=y


# LUCI --------------------

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y

CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-compat=y

CONFIG_LUCI_JSMIN=y
CONFIG_LUCI_CSSTIDY=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh_Hans=y

CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y

CONFIG_PACKAGE_luci-app-acl=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-opkg=y

CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_ssr-tool-check=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Simple_Obfs=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client=n
# Trojan && OPENSSL --------------------


CONFIG_PACKAGE_ipt2socks=y

CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NONE_V2RAY=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_IPT2Socks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y

# Xray --------------------
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
